<div>
    <h3>CrowdDefense project @ Saarland University by Jan Larisch, Seref Güngör and Jan-Robin Aumann advised by Pascal Lessel
    </h3>
    <p>This project was created as a media project for 2019/2020 winter semester for the media informatics bachelors program of the faculty maths and computer science at Saarland university.</p>
    <h4>E-Mail Contact</h4>
    Server Operator: Jan-Robin Aumann - <a href="mailto:jan-robin@aumann.org">jan-robin@aumann.org</a>
    <br>
    Project Advisor: Pascal Lessel - <a href="mailto:p.lessel@uni-saarland.de">p.lessel@uni-saarland.de</a>
    <br>
    <br>
    <h4>Postal Address</h4>
    <p><a href="http://umtl.cs.uni-saarland.de/" target="_blank">Ubiquitous Media Technologies Lab</a></p>
    <p>Saarland Informatics Campus</p>
    <p>Building D3 4</p>
    <p>Stuhlsatzenhausweg 3</p>
    <p>D-66123 Saarbrücken</p>
</div>