<div>
    <h2>General information</h2>

    <p>The following project "CrowdDefense" is a student project from students at the Saarland University.</p>
    <h2>Voluntary participation and freely given consent</h2>

    <p>Participation in the study is voluntary. The consent to participate in this study can be revoked at any time
        and
        without giving reasons until the end of the data collection process by deleting your account
        <%= if (current_user) { %>
        <a href="#" data-toggle="modal" data-target="#deletionModal" onclick="
                fetch(`/account/<%=current_user.ID%>/delete`, {
                    method: 'DELETE',
                    headers: {
                        'x-csrf-token': '<%= authenticity_token %>'
                    },
                    body: {}
                }).then(response => {
                    console.log(response)
                })
            ">here</a>
        <% } else { %>logging in and coming back here<% } %>. This will put your anonymous username into a list, and
        everyday shortly after 7 p.m., we delete all
        data records belonging to the usernames in that list. After the end of data collection, the statutory rights of
        revocation, information, correction,
        blocking
        and deletion can no longer be exercised because the data can no longer be attributed to the data subject, as
        long as the username is not disclosed to us.
    </p>

    <h2>What data do we collect from you?</h2>

    <p> After consent to the collection of data, the following data is collected and processed: </p>

    <ul>
        <li>Entries in the online survey,</li>
        <li>Username chosen by participant (ensure that this name does not allow any inferences to you personally, e.g.,
            because you re-use your typical user name),</li>
        <li>Internal game data such as ideas suggested, games played, shots fired, etc.</li>
        <li>As new releases appear on this web page, data corresponding to these new features will be also logged.
            Features that would interfere with the anonymity would not be released</li>
    </ul>

    <p> For technical reasons, data such as the following, which your internet browser transmits to us or to our web
        space provider (so called server log files), is collected: </p>

    <ul>
        <li>type and version of the browser you use</li>
        <li>operating system</li>
        <li>websites that linked you to our site (referrer URL)</li>
        <li>date and time of your visit</li>
        <li>your Internet Protocol (IP) address.</li>
    </ul>
    <br>
    <p>This anonymous data is not merged with the survey data. On this website we use so-called cookies. Cookies are
        small files that are stored by your web browser. The cookies used on our website do not cause any damage to
        your
        computer and do not contain any malicious software. They enable a user-friendly and effective use of this
        website. We use permanent cookies with a maximum validity period of 365 days. We use these cookies
        exclusively
        to exclude multiple participation.</p>
    <br>
    <h2>What do we use your data for?</h2>

    <p> The results and data are used for scientific research purposes and will be published anonymously as part of
        reports by the DFKI and as a scientific publication of this study. They can also be processed
        anonymously
        for other scientific research purposes. In this sense, the data will be shared with the responsible persons
        at the DFKI.</p>
    <br>
    <h2>Contact person</h2>

    <p> The students is responsible for carrying out this project. You can find the contact details in the Legal
        Information section. If you have
        any
        questions that are not answered in this privacy statement, or if you would like further information on
        data
        protection, please contact Jan-Robin Aumann and Pascal Lessel.</p>
    <br>
    <h2>Right of Appeal</h2>

    <p> You have the right to complain to a supervisory authority if you are of the opinion that the processing of
        your
        personal data violates statutory data protection regulations.</p>
</div>

<%= if (current_user) { %>
<div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="deletionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletionModalLabel">Your account is ready for deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your account name has been recoreded and is up for deletion.
                Deletion takes place daily at shortly after 7 p.m. Central European Time.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    onclick=" fetch(`/account/<%=current_user.ID%>/undelete`, { method: 'POST', headers: { 'x-csrf-token': '<%= authenticity_token %>' }, body: {} }).then(response => { console.log(response) }) ">No
                    stop, I didn't mean it!</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<% } %>