<header>
    <div class="container">
        <div class="row">
            <div class="logo">
                <img src="<%= rootPath() %>assets/images/eule.gif" alt="">
            </div>
            <div>
                <h1 class="titles">Legal Information</h1>
            </div>
        </div>
    </div>
</header>

<body>
    <div class="content">

        <h3 class="titles">Deutsches Forschungszentrum für Künstliche Intelligenz GmbH, DFKI
            (German Research Center for Artificial Intelligence)</h3>
        <br>
        <h4 class="titles">E-Mail Contact</h4>
        <a href="mailto:ingame@dfki.de">ingame@dfki.de</a>
        <br>
        <br>
        <h4 class="titles">Postal Address</h4>
        <p>Postfach 20 80</p>
        <p>D-67608 Kaiserslautern</p>
        <br>
        <h4 class="titles">Kaiserslautern Site</h4>
        <p>Trippstadter Strasse 122</p>
        <p>D-67663 Kaiserslautern</p>
        <p>Phone: +49 (0)631 / 205 75-0</p>
        <p>Telefax: +49 (0)631 / 205 75-5030</p>
        <br>
        <h4 class="titles">Saarbruecken Site</h4>
        <p>Stuhlsatzenhausweg 3 (Building D3 2)</p>
        <p>D-66123 Saarbruecken</p>
        <p>Phone: +49 (0)681 / 857 75-0</p>
        <p>Telefax: +49 (0)681 / 857 75-5341</p>
    </div>
</body>

<footer>

</footer>