<div class="legal-content">
    <h3 class="titles">CrowdDefense project @ Uni Saarland by Jan Larisch, Seref Güngör and Jan-Robin Aumann managed by Pascal Lessel</h3>
    <br>
    <h4 class="titles">E-Mail Contact</h4>
    Server Operator: Jan-Robin Aumann - <a href="mailto:jan-robin@aumann.org">jan-robin@aumann.org</a>
    <br>
    Project Manager: Pascal Lessel - <a href="mailto:p.lessel@uni-saarland.de">p.lessel@uni-saarland.de</a>
    <br>
    <br>
    <h4 class="titles">Postal Address</h4>
    <p>Building D3 4 (Neubau), Room +1.82</p>
    <p>Saarland Informatics Campus</p>
    <p>Stuhlsatzenhausweg 3</p>
    <p>D-66123 Saarbrücken</p>
</div>