<div class="form-group<%= if (errors.Errors["age"]) { %> has-error <% } %>">
    <label>Age</label>
    <select class="form-control<%= if (errors.Errors["age"]) { %> is-invalid <% } %>" id="prequestionnaire-Age"
        name="Age">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["Age"] == "< 18") { %> selected <% } %> value="< 18">
            < 18</option> <option <%= if (params["Age"] == "18 - 26") { %> selected <% } %> value="18 - 26">18 - 26
        </option>
        <option <%= if (params["Age"] == "26 - 39") { %> selected <% } %> value="26 - 39">26 - 39</option>
        <option <%= if (params["Age"] == "> 40") { %> selected <% } %> value="> 40">> 40</option>
    </select>
    <%= if (errors.Errors["age"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["age"] %></div>
    <% } %>
</div>
<div class="form-group<%= if (errors.Errors["gender"]) { %> has-error <% } %>">
    <label>Gender</label>
    <select class="form-control<%= if (errors.Errors["gender"]) { %> is-invalid <% } %>" id="prequestionnaire-Gender"
        name="Gender">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["Gender"] == "female") { %> selected <% } %> value="female">female</option>
        <option <%= if (params["Gender"] == "male") { %> selected <% } %> value="male">male</option>
        <option <%= if (params["Gender"] == "other") { %> selected <% } %> value="other">other</option>
    </select>
    <%= if (errors.Errors["gender"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["gender"] %></div>
    <% } %>
</div>
<%= f.InputTag("Job") %>
<div class="form-group<%= if (errors.Errors["hours_at_p_c_per_week"]) { %> has-error <% } %>">
    <label>Time in hours you use your PC per week</label>
    <select class="form-control<%= if (errors.Errors["hours_at_p_c_per_week"]) { %> is-invalid <% } %>"
        id="prequestionnaire-HoursAtPCPerWeek" name="HoursAtPCPerWeek">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["HoursAtPCPerWeek"] == "0 - 5") { %> selected <% } %> value="0 - 5">0 - 5</option>
        <option <%= if (params["HoursAtPCPerWeek"] == "5 - 10") { %> selected <% } %> value="5 - 10">5 - 10</option>
        <option <%= if (params["HoursAtPCPerWeek"] == "10 - 15") { %> selected <% } %> value="10 - 15">10 - 15</option>
        <option <%= if (params["HoursAtPCPerWeek"] == "15 - 20") { %> selected <% } %> value="15 - 20">15 - 20</option>
        <option <%= if (params["HoursAtPCPerWeek"] == "20-25") { %> selected <% } %> value="20-25">20-25</option>
        <option <%= if (params["HoursAtPCPerWeek"] == "25+") { %> selected <% } %> value="25+">25+</option>
    </select>
    <%= if (errors.Errors["hours_at_p_c_per_week"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["hours_at_p_c_per_week"] %></div>
    <% } %>
</div>
<div class="form-group<%= if (errors.Errors["hours_video_games_per_week"]) { %> has-error <% } %>">
    <label>Time in hours you play video games per week</label>
    <select class="form-control<%= if (errors.Errors["hours_video_games_per_week"]) { %> is-invalid <% } %>"
        id="prequestionnaire-HoursVideoGamesPerWeek" name="HoursVideoGamesPerWeek">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["HoursVideoGamesPerWeek"] == "0 - 5") { %> selected <% } %> value="0 - 5">0 - 5</option>
        <option <%= if (params["HoursVideoGamesPerWeek"] == "5 - 10") { %> selected <% } %> value="5 - 10">5 - 10
        </option>
        <option <%= if (params["HoursVideoGamesPerWeek"] == "10 - 15") { %> selected <% } %> value="10 - 15">10 - 15
        </option>
        <option <%= if (params["HoursVideoGamesPerWeek"] == "15 - 20") { %> selected <% } %> value="15 - 20">15 - 20
        </option>
        <option <%= if (params["HoursVideoGamesPerWeek"] == "20-25") { %> selected <% } %> value="20-25">20-25</option>
        <option <%= if (params["HoursVideoGamesPerWeek"] == "25+") { %> selected <% } %> value="25+">25+</option>
    </select>
    <%= if (errors.Errors["hours_video_games_per_week"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["hours_video_games_per_week"] %></div>
    <% } %>
</div>
<div class="form-group<%= if (errors.Errors["most_important_video_game_aspects"]) { %> has-error <% } %>">
    <label>What are important aspects in a video game? (Select multiple by keeping CTRL pressed)</label>
    <select size='8' onchange="selectMultipleHandler()" id="importantaspects" multiple
        class="form-control<%= if (errors.Errors["most_important_video_game_aspects"]) { %> is-invalid <% } %>">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option id="Story" <%= if (strings.Contains(params["MostImportantVideoGameAspects"], "Story")) { %> selected
            <% } %> value="Story">Story</option>
        <option id="Graphic" <%= if (strings.Contains(params["MostImportantVideoGameAspects"], "Graphics")) { %>
            selected <% } %> value="Graphic">Graphic</option>
        <option id="Innovation" <%= if (strings.Contains(params["MostImportantVideoGameAspects"], "Innovation")) { %>
            selected <% } %> value="Innovation">Innovation</option>
        <option id="Multiplayer" <%= if (strings.Contains(params["MostImportantVideoGameAspects"], "Multiplayer")) { %>
            selected <% } %> value="Multiplayer">Multiplayer</option>
        <option id="Competition with others"
            <%= if (strings.Contains(params["MostImportantVideoGameAspects"], "Competition with other players")) { %>
            selected <% } %> value="Competition with other players">Competition with other players</option>
        <option id="Difficulty" <%= if (strings.Contains(params["MostImportantVideoGameAspects"], "Difficulty")) { %>
            selected <% } %> value="Difficulty">Difficulty</option>
        <option id="Gameplay" <%= if (strings.Contains(params["MostImportantVideoGameAspects"], "Gameplay")) { %>
            selected <% } %> value="Gameplay">Gameplay</option>
        <option id="Other" <%= if (strings.Contains(params["MostImportantVideoGameAspects"], "Other")) { %> selected
            <% } %> value="Other">Other</option>
    </select>
    <%= if (errors.Errors["most_important_video_game_aspects"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["most_important_video_game_aspects"] %></div>
    <% } %>
</div>
<div class="form-group" style="display: none;">
    <input class=" form-control" id="prequestionnaire-MostImportantVideoGameAspects"
        name="MostImportantVideoGameAspects" type="text" value=<%= params["MostImportantVideoGameAspects"]%>>
</div>
<div class="form-group<%= if (errors.Errors["most_important_video_game_aspect"]) { %> has-error <% } %>">
    <label>What is THE most important aspect in a video game?</label>
    <select class="form-control<%= if (errors.Errors["most_important_video_game_aspect"]) { %> is-invalid <% } %>"
        id="prequestionnaire-MostImportantVideoGameAspect" name="MostImportantVideoGameAspect">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["MostImportantVideoGameAspect"] == "Story") { %> selected <% } %> value="Story">Story
        </option>
        <option <%= if (params["MostImportantVideoGameAspect"] == "Graphic") { %> selected <% } %> value="Graphic">
            Graphic</option>
        <option <%= if (params["MostImportantVideoGameAspect"] == "Innovation") { %> selected <% } %>
            value="Innovation">Innovation</option>
        <option <%= if (params["MostImportantVideoGameAspect"] == "Multiplayer") { %> selected <% } %>
            value="Multiplayer">Multiplayer</option>
        <option <%= if (params["MostImportantVideoGameAspect"] == "Competition with other players") { %> selected
            <% } %> value="Competition with other players">Competition with other players</option>
        <option <%= if (params["MostImportantVideoGameAspect"] == "Difficulty") { %> selected <% } %>
            value="Difficulty">Difficulty</option>
        <option <%= if (params["MostImportantVideoGameAspect"] == "Gameplay") { %> selected <% } %> value="Gameplay">
            Gameplay</option>
        <option <%= if (params["MostImportantVideoGameAspect"] == "Other") { %> selected <% } %> value="Other">Other
        </option>
    </select>
    <%= if (errors.Errors["most_important_video_game_aspect"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["most_important_video_game_aspect"] %></div>
    <% } %>
</div>
<label>Please answer the following statements:</label>
<div class="form-group<%= if (errors.Errors["played_a_lot_of_tower_defense"]) { %> has-error <% } %>">
    <div class="row">
        <div class="col-6">
            <label style="margin-right: 2vw;">I played a lot of tower defense games.</label>
        </div>
        <div class="col-6">
            <div class="form-check form-check-inline">
                <label style="margin-right: 1vw;" class="form-check-label" for="inlineRadio1">Disagree</label>
                <input class="form-check-input" type="radio" name="PlayedALotOfTowerDefense" id="inlineRadio1" value=1
                    <%= if (params["PlayedALotOfTowerDefense"] == 1) { %> checked <% } %>>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PlayedALotOfTowerDefense" id="inlineRadio2" value=2
                    <%= if (params["PlayedALotOfTowerDefense"] == 2) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio2"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PlayedALotOfTowerDefense" id="inlineRadio3" value=3
                    <%= if (params["PlayedALotOfTowerDefense"] == 3) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio3"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PlayedALotOfTowerDefense" id="inlineRadio4" value=4
                    <%= if (params["PlayedALotOfTowerDefense"] == 4) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio4"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PlayedALotOfTowerDefense" id="inlineRadio5" value=5
                    <%= if (params["PlayedALotOfTowerDefense"] == 5) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio5"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PlayedALotOfTowerDefense" id="inlineRadio6" value=6
                    <%= if (params["PlayedALotOfTowerDefense"] == 6) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio6"></label>
            </div>
            <div class="form-check form-check-inline">
                <input style="margin-right: 1vw;" class="form-check-input" type="radio" name="PlayedALotOfTowerDefense"
                    id="inlineRadio7" value=7 <%= if (params["PlayedALotOfTowerDefense"] == 7) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio7">Agree</label>
            </div>
        </div>
    </div>
    <%= if (errors.Errors["played_a_lot_of_tower_defense"]) { %>
    <div class="invalid-feedback help-block" style="display: block;">
        <%= errors.Errors["played_a_lot_of_tower_defense"] %>
    </div>
    <% } %>
</div>
<div class="form-group<%= if (errors.Errors["likes_tower_defense"]) { %> has-error <% } %>">
    <div class="row">
        <div class="col-6">
            <label style="margin-right: 2vw;">I like tower defense games.</label>
        </div>
        <div class="col-6">
            <div class="form-check form-check-inline">
                <label style="margin-right: 1vw;" class="form-check-label" for="inlineRadio1">Disagree</label>
                <input class="form-check-input" type="radio" name="LikesTowerDefense" id="inlineRadio1" value=1
                    <%= if (params["LikesTowerDefense"] == 1) { %> checked <% } %>>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikesTowerDefense" id="inlineRadio2" value=2
                    <%= if (params["LikesTowerDefense"] == 2) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio2"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikesTowerDefense" id="inlineRadio3" value=3
                    <%= if (params["LikesTowerDefense"] == 3) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio3"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikesTowerDefense" id="inlineRadio4" value=4
                    <%= if (params["LikesTowerDefense"] == 4) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio4"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikesTowerDefense" id="inlineRadio5" value=5
                    <%= if (params["LikesTowerDefense"] == 5) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio5"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikesTowerDefense" id="inlineRadio6" value=6
                    <%= if (params["LikesTowerDefense"] == 6) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio6"></label>
            </div>
            <div class="form-check form-check-inline">
                <input style="margin-right: 1vw;" class="form-check-input" type="radio" name="LikesTowerDefense"
                    id="inlineRadio7" value=7 <%= if (params["LikesTowerDefense"] == 7) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio7">Agree</label>
            </div>
        </div>
    </div>
    <%= if (errors.Errors["likes_tower_defense"]) { %>
    <div class="invalid-feedback help-block" style="display: block;"><%= errors.Errors["likes_tower_defense"] %>
    </div>
    <% } %>
</div>
<div class="form-group<%= if (errors.Errors["plays_more_tower_defense_than_other_games"]) { %> has-error <% } %>">
    <div class="row">
        <div class="col-6">
            <label style="margin-right: 2vw;">I play more tower defense games than other game genres.</label>
        </div>
        <div class="col-6">
            <div class="form-check form-check-inline">
                <label style="margin-right: 1vw;" class="form-check-label" for="inlineRadio1">Disagree</label>
                <input class="form-check-input" type="radio" name="PlaysMoreTowerDefenseThanOtherGames"
                    id="inlineRadio1" value=1 <%= if (params["PlaysMoreTowerDefenseThanOtherGames"] == 1) { %> checked
                    <% } %>>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PlaysMoreTowerDefenseThanOtherGames"
                    id="inlineRadio2" value=2 <%= if (params["PlaysMoreTowerDefenseThanOtherGames"] == 2) { %> checked
                    <% } %>>
                <label class="form-check-label" for="inlineRadio2"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PlaysMoreTowerDefenseThanOtherGames"
                    id="inlineRadio3" value=3 <%= if (params["PlaysMoreTowerDefenseThanOtherGames"] == 3) { %> checked
                    <% } %>>
                <label class="form-check-label" for="inlineRadio3"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PlaysMoreTowerDefenseThanOtherGames"
                    id="inlineRadio4" value=4 <%= if (params["PlaysMoreTowerDefenseThanOtherGames"] == 4) { %> checked
                    <% } %>>
                <label class="form-check-label" for="inlineRadio4"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PlaysMoreTowerDefenseThanOtherGames"
                    id="inlineRadio5" value=5 <%= if (params["PlaysMoreTowerDefenseThanOtherGames"] == 5) { %> checked
                    <% } %>>
                <label class="form-check-label" for="inlineRadio5"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="PlaysMoreTowerDefenseThanOtherGames"
                    id="inlineRadio6" value=6 <%= if (params["PlaysMoreTowerDefenseThanOtherGames"] == 6) { %> checked
                    <% } %>>
                <label class="form-check-label" for="inlineRadio6"></label>
            </div>
            <div class="form-check form-check-inline">
                <input style="margin-right: 1vw;" class="form-check-input" type="radio"
                    name="PlaysMoreTowerDefenseThanOtherGames" id="inlineRadio7" value=7
                    <%= if (params["PlaysMoreTowerDefenseThanOtherGames"] == 7) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio7">Agree</label>
            </div>
        </div>
    </div>
    <%= if (errors.Errors["plays_more_tower_defense_than_other_games"]) { %>
    <div class="invalid-feedback help-block" style="display: block;">
        <%= errors.Errors["plays_more_tower_defense_than_other_games"] %>
    </div>
    <% } %>
</div>

<div class="form-group<%= if (errors.Errors["has_designed_video_game"]) { %> has-error <% } %>">
    <label>Have you ever designed a Videogame?</label>
    <select class="form-control<%= if (errors.Errors["has_designed_video_game"]) { %> is-invalid <% } %>"
        id="prequestionnaire-HasDesignedVideoGame" name="HasDesignedVideoGame">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["HasDesignedVideoGame"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["HasDesignedVideoGame"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["has_designed_video_game"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["has_designed_video_game"] %></div>
    <% } %>
</div>

<div class="form-group<%= if (errors.Errors["has_designed_other_application"]) { %> has-error <% } %>">
    <label>Have you ever designed an application? (except video games)</label>
    <select class="form-control<%= if (errors.Errors["has_designed_other_application"]) { %> is-invalid <% } %>"
        id="prequestionnaire-HasDesignedOtherApplication" name="HasDesignedOtherApplication">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["HasDesignedOtherApplication"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["HasDesignedOtherApplication"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["has_designed_other_application"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["has_designed_other_application"] %></div>
    <% } %>
</div>

<div class="form-group<%= if (errors.Errors["wants_to_be_included"]) { %> has-error <% } %>">
    <label>If you had the choice, do you want to be included in the design process of a video game?</label>
    <select onchange="let wtbi = document.getElementsByClassName('wtbi'); if (this.value == 'true') { for (let item of wtbi) {item.style = 'display: inline;'} }
        else { for (let item of wtbi) {item.style = 'display: none;'} }"
        class="form-control<%= if (errors.Errors["wants_to_be_included"]) { %> is-invalid <% } %>"
        id="prequestionnaire-WantsToBeIncluded" name="WantsToBeIncluded">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["WantsToBeIncluded"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["WantsToBeIncluded"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["wants_to_be_included"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["wants_to_be_included"] %></div>
    <% } %>
</div>

<div class="wtbi" style="display: none;">
    <%= f.TextAreaTag("HowWantsToBeIncluded", {rows: 10, label: "How would you like to be included?"}) %>
</div>

<div class="form-group<%= if (errors.Errors["ever_watched_twitch_plays"]) { %> has-error <% } %>">
    <label>Have you ever watched a 'Twitch Plays' series (e.g. Twitch Plays Pokemon, Twitch Plays Darksouls, Twitch
        Plays PUBG, etc.) on Twitch?</label>
    <select onchange="let tp = document.getElementsByClassName('tp'); if (this.value == 'true') { for (let item of tp) {item.style = 'display: block;'} }
    else { for (let item of tp) {item.style = 'display: none;'} }"
        class="form-control<%= if (errors.Errors["ever_watched_twitch_plays"]) { %> is-invalid <% } %>"
        id="prequestionnaire-EverWatchedTwitchPlays" name="EverWatchedTwitchPlays">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["EverWatchedTwitchPlays"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["EverWatchedTwitchPlays"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["ever_watched_twitch_plays"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["ever_watched_twitch_plays"] %></div>
    <% } %>
</div>

<div style="display: none;"
    class="tp form-group<%= if (errors.Errors["participated_twitch_plays"]) { %> has-error <% } %>">
    <label>Did you actively participate in the Twitch Plays series?</label>
    <select class="form-control<%= if (errors.Errors["participated_twitch_plays"]) { %> is-invalid <% } %>"
        id="prequestionnaire-ParticipatedTwitchPlays" name="ParticipatedTwitchPlays">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["ParticipatedTwitchPlays"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["ParticipatedTwitchPlays"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["participated_twitch_plays"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["participated_twitch_plays"] %></div>
    <% } %>
</div>

<div style="display: none;" class="tp form-group<%= if (errors.Errors["how_likes_twitch_plays"]) { %> has-error <% } %>">
    <div class="row">
        <div class="col-6">
            <label style="margin-right: 2vw;">How did you like Twitch Plays?</label>
        </div>
        <div class="col-6">

            <div class="form-check form-check-inline">
                <label style="margin-right: 1vw;" class="form-check-label" for="inlineRadio1">Not at all</label>
                <input class="form-check-input" type="radio" name="HowLikesTwitchPlays" id="inlineRadio1" value=1
                    <%= if (params["HowLikesTwitchPlays"] == 1) { %> checked <% } %>>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="HowLikesTwitchPlays" id="inlineRadio2" value=2
                    <%= if (params["HowLikesTwitchPlays"] == 2) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio2"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="HowLikesTwitchPlays" id="inlineRadio3" value=3
                    <%= if (params["HowLikesTwitchPlays"] == 3) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio3"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="HowLikesTwitchPlays" id="inlineRadio4" value=4
                    <%= if (params["HowLikesTwitchPlays"] == 4) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio4"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="HowLikesTwitchPlays" id="inlineRadio5" value=5
                    <%= if (params["HowLikesTwitchPlays"] == 5) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio5"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="HowLikesTwitchPlays" id="inlineRadio6" value=6
                    <%= if (params["HowLikesTwitchPlays"] == 6) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio6"></label>
            </div>
            <div class="form-check form-check-inline">
                <input style="margin-right: 1vw;" class="form-check-input" type="radio" name="HowLikesTwitchPlays"
                    id="inlineRadio7" value=7 <%= if (params["HowLikesTwitchPlays"] == 7) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio7">Very much</label>
            </div>
        </div>
    </div>
    <%= if (errors.Errors["how_likes_twitch_plays"]) { %>
    <div class="invalid-feedback help-block" style="display: block;">
        <%= errors.Errors["how_likes_twitch_plays"] %>
    </div>
    <% } %>
</div>

<div class="form-group<%= if (errors.Errors["heard_of_please_be_nice"]) { %> has-error <% } %>">
    <label>Have you heard of 'PleaseBeNice'?</label>
    <select onchange="let pbn = document.getElementsByClassName('pbn'); if (this.value == 'true') { for (let item of pbn) {item.style = 'display: block;'} }
    else { for (let item of pbn) {item.style = 'display: none;'} }"
        class="form-control<%= if (errors.Errors["heard_of_please_be_nice"]) { %> is-invalid <% } %>"
        id="prequestionnaire-HeardOfPleaseBeNice" name="HeardOfPleaseBeNice">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["HeardOfPleaseBeNice"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["HeardOfPleaseBeNice"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["heard_of_please_be_nice"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["heard_of_please_be_nice"] %></div>
    <% } %>
</div>

<div style="display: none;" class="pbn form-group<%= if (errors.Errors["played_please_be_nice"]) { %> has-error <% } %>">
    <label>Did you play 'PleaseBeNice' yourself?</label>
    <select class="form-control<%= if (errors.Errors["played_please_be_nice"]) { %> is-invalid <% } %>"
        id="prequestionnaire-PlayedPleaseBeNice" name="PlayedPleaseBeNice">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["PlayedPleaseBeNice"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["PlayedPleaseBeNice"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["played_please_be_nice"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["played_please_be_nice"] %></div>
    <% } %>
</div>

<div style="display: none;" class="pbn form-group<%= if (errors.Errors["liked_please_be_nice"]) { %> has-error <% } %>">
    <div class="row">
        <div class="col-6">
            <label style="margin-right: 2vw;">How did you like 'PleaseBeNice'?</label>
        </div>
        <div class="col-6">
            <div class="form-check form-check-inline">
                <label style="margin-right: 1vw;" class="form-check-label" for="inlineRadio1">Not at all</label>
                <input class="form-check-input" type="radio" name="LikedPleaseBeNice" id="inlineRadio1" value=1
                    <%= if (params["LikedPleaseBeNice"] == 1) { %> checked <% } %>>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikedPleaseBeNice" id="inlineRadio2" value=2
                    <%= if (params["LikedPleaseBeNice"] == 2) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio2"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikedPleaseBeNice" id="inlineRadio3" value=3
                    <%= if (params["LikedPleaseBeNice"] == 3) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio3"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikedPleaseBeNice" id="inlineRadio4" value=4
                    <%= if (params["LikedPleaseBeNice"] == 4) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio4"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikedPleaseBeNice" id="inlineRadio5" value=5
                    <%= if (params["LikedPleaseBeNice"] == 5) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio5"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikedPleaseBeNice" id="inlineRadio6" value=6
                    <%= if (params["LikedPleaseBeNice"] == 6) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio6"></label>
            </div>
            <div class="form-check form-check-inline">
                <input style="margin-right: 1vw;" class="form-check-input" type="radio" name="LikedPleaseBeNice"
                    id="inlineRadio7" value=7 <%= if (params["LikedPleaseBeNice"] == 7) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio7">Very much</label>
            </div>
        </div>
    </div>
    <%= if (errors.Errors["liked_please_be_nice"]) { %>
    <div class="invalid-feedback help-block" style="display: block;">
        <%= errors.Errors["liked_please_be_nice"] %>
    </div>
    <% } %>
</div>

<div style="display: none;" class="pbn form-group<%= if (errors.Errors["idea_implemented_please_be_nice"]) { %> has-error <% } %>">
    <label>Did one of your ideas get implemented?</label>
    <select class="form-control<%= if (errors.Errors["idea_implemented_please_be_nice"]) { %> is-invalid <% } %>"
        id="prequestionnaire-IdeaImplementedPleaseBeNice" name="IdeaImplementedPleaseBeNice">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["IdeaImplementedPleaseBeNice"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["IdeaImplementedPleaseBeNice"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["idea_implemented_please_be_nice"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["idea_implemented_please_be_nice"] %></div>
    <% } %>
</div>

<div class="form-group<%= if (errors.Errors["heard_of_crowdjump"]) { %> has-error <% } %>">
    <label>Have you heard of 'Crowdjump'?</label>
    <select onchange="let cj = document.getElementsByClassName('cj'); if (this.value == 'true') { for (let item of cj) {item.style = 'display: block;'} }
    else { for (let item of cj) {item.style = 'display: none;'} }"
        class="form-control<%= if (errors.Errors["heard_of_crowdjump"]) { %> is-invalid <% } %>"
        id="prequestionnaire-HeardOfCrowdjump" name="HeardOfCrowdjump">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["HeardOfCrowdjump"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["HeardOfCrowdjump"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["heard_of_crowdjump"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["heard_of_crowdjump"] %></div>
    <% } %>
</div>

<div style="display: none;" class="cj form-group<%= if (errors.Errors["played_crowdjump"]) { %> has-error <% } %>">
    <label>Did you play 'Crowdjump'?</label>
    <select class="form-control<%= if (errors.Errors["played_crowdjump"]) { %> is-invalid <% } %>"
        id="prequestionnaire-PlayedCrowdjump" name="PlayedCrowdjump">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["PlayedCrowdjump"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["PlayedCrowdjump"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["played_crowdjump"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["played_crowdjump"] %></div>
    <% } %>
</div>

<div style="display: none;" class="cj form-group<%= if (errors.Errors["liked_crowdjump"]) { %> has-error <% } %>">
    <div class="row">
        <div class="col-6">
            <label style="margin-right: 2vw;">How did you like 'Crowdjump'?</label>
        </div>
        <div class="col-6">
            <div class="form-check form-check-inline">
                <label style="margin-right: 1vw;" class="form-check-label" for="inlineRadio1">Very
                    much</label>
                <input class="form-check-input" type="radio" name="LikedCrowdjump" id="inlineRadio1" value=1
                    <%= if (params["LikedCrowdjump"] == 1) { %> checked <% } %>>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikedCrowdjump" id="inlineRadio2" value=2
                    <%= if (params["LikedCrowdjump"] == 2) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio2"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikedCrowdjump" id="inlineRadio3" value=3
                    <%= if (params["LikedCrowdjump"] == 3) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio3"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikedCrowdjump" id="inlineRadio4" value=4
                    <%= if (params["LikedCrowdjump"] == 4) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio4"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikedCrowdjump" id="inlineRadio5" value=5
                    <%= if (params["LikedCrowdjump"] == 5) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio5"></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="LikedCrowdjump" id="inlineRadio6" value=6
                    <%= if (params["LikedCrowdjump"] == 6) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio6"></label>
            </div>
            <div class="form-check form-check-inline">
                <input style="margin-right: 1vw;" class="form-check-input" type="radio" name="LikedCrowdjump"
                    id="inlineRadio7" value=7 <%= if (params["LikedCrowdjump"] == 7) { %> checked <% } %>>
                <label class="form-check-label" for="inlineRadio7">Not at all</label>
            </div>
        </div>
    </div>

    <%= if (errors.Errors["liked_crowdjump"]) { %>
    <div class="invalid-feedback help-block" style="display: block;">
        <%= errors.Errors["liked_crowdjump"] %>
    </div>
    <% } %>
</div>

<div style="display: none;" class="cj form-group<%= if (errors.Errors["idea_implemented_crowdjump"]) { %> has-error <% } %>">
    <label>Did one of your 'Crowdjump' ideas get implemented?</label>
    <select class="form-control<%= if (errors.Errors["idea_implemented_crowdjump"]) { %> is-invalid <% } %>"
        id="prequestionnaire-IdeaImplementedCrowdjump" name="IdeaImplementedCrowdjump">
        <option disabled selected style="display: none;" value=""> -- select an option -- </option>
        <option <%= if (params["IdeaImplementedCrowdjump"] == true) { %> selected <% } %> value=true>yes</option>
        <option <%= if (params["IdeaImplementedCrowdjump"] == false) { %> selected <% } %> value=false>no</option>
    </select>
    <%= if (errors.Errors["idea_implemented_crowdjump"]) { %>
    <div class="invalid-feedback help-block"><%= errors.Errors["idea_implemented_crowdjump"] %></div>
    <% } %>
</div>

<button class="btn btn-success" onclick="selectMultipleHandler" role="submit">Save</button>

<script>
    window.onload = selectMultipleHandler2()

    function selectMultipleHandler() {
        $('#prequestionnaire-MostImportantVideoGameAspects').val($('#importantaspects').val().join())
    }
    function selectMultipleHandler2() {
        var string = document.getElementById('prequestionnaire-MostImportantVideoGameAspects').value
        var array = string.split(',')
        array.forEach(element => {
            document.getElementById(element).selected = true
        });
    }
</script>