@font-face {
  font-family: "Cascadia Code";
  src: url("https://github.com/microsoft/cascadia-code/releases/download/v1910.04/Cascadia.ttf");
}

:root {
  --lavender: #b877db;
  --cranberry: #e95678;
  --turquoise: #25b0bc;
  --apricot: #f09483;
  --rosebud: #fab795;
  --tacao: #fac29a;

  --gray: #bbbbbb;
  --shadow: #16161c;
  --border: #1a1c23;
  --background: #1c1e26;
  --backgroundAlt: #232530;
  --accent: #2e303e;
  --accentAlt: #6c6f93;
  --secondaryAccent: #e9436d;
  --secondaryAccentAlt: #e95378;
  --tertiaryAccent: #fab38e;
  --positive: #09f7a0;
  --negative: #f43e5c;
  --warning: #27d797;
  --modified: #21bfc2;
  --lightText: #d5d8da;
  --darkText: #06060c;

  --blue: #26bbd9;
  --cyan: #59e1e3;
  --green: #29d398;
  --magenta: #ee64ac;
  --red: #e95678;
  --yellow: #fab795;

  --bright-blue: #3fc4de;
  --bright-cyan: #6be4e6;
  --bright-green: #3fdaa4;
  --bright-magenta: #f075b5;
  --bright-red: #ec6a88;
  --bright-yellow: #fbc3a7;
}

html {
  min-height: 600px;
}

body {
  background-color: var(--background);
  font-family: "Cascadia Code";
  color: var(--lightText);
  a {
    color: var(--bright-green);
  }
}

.menu-bar {
  padding-top: 10px;
  background-color: var(--accent);
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: var(--shadow);
}

// .navigation {
// }

// .login-register {
// }

.filler {
  text-align: center;
  img {
    width: 40px;
  }
}

.sidebar {
  background-color: var(--backgroundAlt);
}

.intro-content {
  padding-top: 20px;
  h2 {
    font-weight: 300;
    color: var(--tacao);
  }
  a {
    color: var(--bright-green);
    text-decoration: underline;
  }
}

.footer {
  padding-top: 10px;
  background-color: var(--accent);
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: var(--shadow);
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 20px;
}

.legal-content {
  h4 {
    font-weight: 300;
    color: var(--tacao);
  }
  padding-top: 20px;
}

.auth-wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-wrapper .sign-form{
  max-width: 350px;
  width: 100%;
  padding: 0 20px;
}

.auth-wrapper h1{margin-bottom: 20px;}

.forum-statements {
  padding-top: 20px;
  text-align: center;
  h2 {
    font-weight: 300;
    color: var(--tacao);
  }
}

.gamestate-list {
  text-align: left;
  font-size: x-large;
}