<div class="jumbotron" style="margin-top: 3vh; margin-bottom: 3vh; padding-top: 1vh; padding-bottom: 1vh;">
  <h1 class="display-4">Ideas</h1>
  <hr class="my-4">
  <h1 class="lead">Current State of the Game:</h1>
  <ul class="lead">
    <li><%= state-gameplay %></li>
    <li><%= state-gamelooks %></li>
    <li><%= state-voting %></li>
    <li><%= state-website %></li>
  </ul>
  <hr class="my-4">
  <span class="lead">Not satisfied? Read the ideas from other players below. Listed are those, that are currently up for
    discussion (unfulfilled and unselected) sorted by popularity. Go vote on them, or submit your own
    ideas! In case you are looking for ones that have already been selected/fulfilled or just need to search all ideas
    for something specific, head over to the <a href="<%= allideasPath()%>">all ideas section</a>!</h1>
    <hr class="my-4">
    <ul class="list-unstyled list-inline">
      <li>
        <%= linkTo(newIdeasPath(), {class: "btn btn-primary"}) { %>
        Post New Idea
        <% } %>
      </li>
    </ul>
    Next Features get chosen in:<p id="timer"></p>
      <script>
        var now = new Date()
        var countDownDate
        if (new Date().getHours() > 18) {
          countDownDate = new Date(`${now.getMonth()+1}/${now.getDate() + 1}, ${now.getFullYear()} 19:00`).getTime();
        } else {
          countDownDate = new Date(`${now.getMonth()+1}/${now.getDate()}, ${now.getFullYear()} 19:00`).getTime();
        }
        // Update the count down every 1 second
        var x = setInterval(function () {

          // Get today's date and time
          var now = new Date().getTime();

          // Find the distance between now and the count down date
          var distance = countDownDate - now;

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Display the result in the element with id="demo"
          document.getElementById("timer").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

          // If the count down is finished, write some text
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
          }
        }, 1000);
      </script>
</div>

<%= for (key, idea) in ideas { %>
<div class="card">
  <%= if (key == 0) { %>
  <div class="card-header" style="background-color: lightgreen;">
    <h5>Highest Popularity!</h5>
  </div>
  <% } else if (key == 1) { %>
  <div class="card-header" style="background-color: mediumturquoise;">
    <h5>Still in the running!</h5>
  </div>
  <% } else if (key == 2){ %>
  <div class="card-header" style="background-color: orangered;">
    <h5>Might still make it with your vote!</h5>
  </div>
  <% } %>
  <div class="card-body">
    <h4 class="card-title"><%= idea.Title %></h4>
    <p class="card-text"><%=  idea.Description%></p>
  </div>
  <%= if (idea.DevComment != "") { %>
  <div class="card-body">
    <h5 class="card-title">Comment from the developers</h5>
    <p><%= idea.DevComment %></p>
  </div>
  <% } %>
  <div class="card-body" id="keywordsection">
    <span class="badge badge-pill badge-info">Popularity: <%= len(idea.UpvotedBy) - len(idea.DownvotedBy)%></span>
    <span class="badge badge-pill badge-info">Suggested in Version <%= idea.VersionWhenSuggested %> by
      <%= idea.SuggestedBy %></span>
    <script>
      var keywordsection = document.getElementById('keywordsection');

      var keywordString = "<%= idea.Keywords %>";
      var keywords = keywordString.split(";");

      var keywordsHTML = ''

      keywords.forEach(keyword => {
        keywordsHTML += `<span class="badge badge-pill badge-primary" style="margin-right: 0.3vw">${keyword}</span>`
      });

      keywordsection.innerHTML += keywordsHTML

    </script>
  </div>
  <div class="card-body">
    <a class="btn fas fa-thumbs-up <%= if (!idea.UpvotedBy[current_user.Username]) { %> btn-outline-success <% } else { %> btn-success <% } %>"
      data-method="PUT" href="<%= ideaUpvotePath({idea_id: idea.ID}) %>"
      <%= if (!idea.UpvotedBy[current_user.Username]) { %> style="color: black;" <% } else { %> style="color: white;"
      <% } %>>
      <%= " " + len(idea.UpvotedBy) %>
    </a>
    <a class="btn fas fa-thumbs-down <%= if (!idea.DownvotedBy[current_user.Username]) { %> btn-outline-danger <% } else { %> btn-danger <% } %>"
      data-method="PUT" href="<%= ideaDownvotePath({idea_id: idea.ID}) %> "
      <%= if (!idea.DownvotedBy[current_user.Username]) { %> style="color: black;" <% } else { %> style="color: white;"
      <% } %>>
      <%= " " + len(idea.DownvotedBy) %>
    </a>
    <%= if (current_user.Username == idea.SuggestedBy && len(idea.UpvotedBy) <= 0) { %>
    <a class="btn btn-warning" href="<%= editIdeaPath({ idea_id: idea.ID }) %>" role="button">Edit</a>
    <% } else if (current_user.Username == idea.SuggestedBy) { %>
    <a class="btn btn-warning disabled" href="<%= editIdeaPath({ idea_id: idea.ID }) %>" role="button">Can't be
      edited</a>
    <% } %>
    <%= if (current_user.Username == idea.SuggestedBy && !idea.Picked && !idea.Fullfilled) { %>
    <a class="btn btn-danger" href="<%= ideaPath({ idea_id: idea.ID }) %>" role="button" data-method="DELETE"
      data-confirm="Are you sure?">Delete</a>
    <% } else if (current_user.Username == idea.SuggestedBy) { %>
    <a class="btn btn-danger disabled" href="<%= ideaPath({ idea_id: idea.ID }) %>" role="button" data-method="DELETE"
      data-confirm="Are you sure?">Can't be
      deleted</a>
    <% } %>
  </div>
</div>
<br>
<% } %>

<div class="text-center">
  <%= paginator(pagination) %>
</div>