<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>CrowdDefense</title>
  <%= stylesheetTag("application.css") %>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="<%= authenticity_token %>" />
  <link rel="icon" href="<%= assetPath("images/eule.gif") %>">
</head>

<body>

  <%= if (current_user) { %>
  <div class="loginstatus">
    Currently logged in as <%= current_user.Username%>
    <%= linkTo(signoutPath(), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Sign Out"}) %>
  </div>
  <% } else { %>
  <div class="loginstatus">
    Currently not logged in
    <a href="/signin" class="btn btn-primary" ><%= %>Sign In</a>
    <a href="/users/new" class="btn btn-primary" ><%= %>Register</a>

  </div>
  <% } %>


  <div class="container">
    <%= partial("flash.html") %>
    <%= yield %>
  </div>

  <%= javascriptTag("application.js") %>
</body>

</html>