<style>
  h2 {
    margin-top: 3vh;
  }
  p {
    font-size: 120%;
  }

</style>
<h2>What even is this?</h2>
<div>
  <p>
    <a href="https://github.com/Seref">Seref G&#xFC;ng&#xF6;r</a>,
    <a href="https://github.com/JanLari">Jan Larisch</a>
    and
    <a href="https://beemo.at">Jan-Robin Aumann</a>
    created CrowdDefense with support from
    <a href="https://umtl.cs.uni-saarland.de/people/pascal-lessel.html">Dr. Pascal Lessel (Saarland
      University/DFKI)</a>.
    We built a very simple tower defense game, but we need <strong>your</strong> help to make it more interesting!
  </p>
</div>
<h2>How do I get involved?</h2>
<div>
  <p>
    On our ideas page community members (you!) can create, share, upvote and downvote suggestions for new game features.
  </p>
  <p>
    Everyday at 7pm, the two most popular suggestions are picked and implemented.
    We aspire to completing them in 24 hours. Why? Because a new version of CrowdDefense will go live every day at 7pm,
    and we want to have them available (<em>if possible</em>) to you for that daily release so the game stays
    interesting and engaging!
  </p>
</div>
<h2>What kind of stuff should I suggest?</h2>
<div>
  <p>
    Suggestions can be as simple or complicated as you like. Maybe you just want a prettier game or web
    page, you want to have a different way on how ideas are selected or you want to have new features
    that improve the game or the web page.
  </p>
  <p>
    Share your ideas with the community, and just see how people react! We will also comment on suggestions and assess their difficulty so the community always knows what to expect when voting for one.
  </p>
  <p>
    Your suggestions are the most powerful tool to make this an engaging experience, and can not only affect the game
    but also the community and process around it.
  </p>
</div>
<h2>Why are we doing this?</h2>
<div>
  <p>CrowdDefense is part of a study on user driven game development that will be conducted starting from the 17th of
    January 2020 until the seventh of February.</p>
  <p>After that date, the study will conclude and the game will be taken down.</p>
  <p>During the time however we hope to collect information on how the community plays the game and how it
    suggests new features. We also ask our community members to take part in our questionnaires. They
    are very important as they'll allow us to get conclusive insight from the study.</p>
</div>
<br>
<div>
  <p>
    <strong>
      What are you waiting for?
      <a href="<%= newUsersPath() %>">Sign up</a>,
      play the game and share your ideas with the community!
    </strong>
  </p>
</div>