<header class="introduction-header">
    <div class="container">
        <div class="row">
            <div class="logo">
                <img src="<%= rootPath() %>assets/images/eule.gif" alt="">
            </div>
            <div>
                <h1 class="titles">Crowdjump2</h1>
            </div>
        </div>
    </div>
</header>

<body class="introduction-body">
    <div class="introduction-content">
        <h2 class="introduction-titles">What even is this?</h2>
        <div>
            <p>Welcome to Crowdjump2, a game which is currently being developed through the ideas and suggestions of its
                community. <a href="https://github.com/Seref">Seref G&#xFC;ng&#xF6;r</a>, <a href="https://github.com/JanLari">Jan Larisch</a> and <a href="https://beemo.at">Jan-Robin Auman</a> at
                Saarland University created Crowdjump2 aswell as this website with support from <a
                    href="https://umtl.cs.uni-saarland.de/people/pascal-lessel.html">Dr. Pascal Lessel at the DFKI</a>. We built a very simple tower defense game, but we need <strong>your</strong> help to make it more
                interesting!</p>
        </div>

        <br>

        <h2 class="introduction-titles">How do I get involved?</h2>
        <div>
            <p>In our message board all community members can create, share, upvote and downvote suggestions for new
                game
                features.</p>
            <p>Everyday at 9am and 7pm, the highest voted suggestion is picked, given a time estimate and implemented.
                We
                aspire to completing it in 24 hours. Why? Because a new version of Crowdjump2 will go live every day at
                7pm,
                and we want to have it available (<em>if possible</em>) to you for that daily release so the game stays
                interesting and engaging!</p>
        </div>

        <br>

        <h2 class="introduction-titles">What kind of stuff should I suggest?</h2>
        <div>
            <p>Suggestions can be as simple or complicated as you like. Maybe you just want a prettier game, or you have
                specific ideas on how the gameplay could become more interesting and rewarding.</p>
            <p>Share your ideas with the community, and just see how people react!</p>
            <p>Your suggestions are the most powerful tool to make this an engaging experience, and can not only affect
                the
                game but also the community and process around it.</p>
            <p>If you&#x2019;re unhappy with the way suggestions are chosen or the release times are in your opinion
                supotimal then share your concerns with the rest of the crowd!</p>
        </div>

        <br>

        <h2 class="introduction-titles">Why are we doing this?</h2>
        <div>
            <p>Crowdjump2 is part of a study on User-Driven-Game-Development that will be conducted starting from the
                10th
                of January 2020 untl the second of february.</p>
            <p>After that date, the study will conclude and the game will be taken down.</p>
            <p>During the time however we hope to collect information on how the community plays the game and how it
                suggests new features.<br> We also ask our community members to take part in our questionnaires. They
                are
                very important as they&#x2019;ll allow us to get conclusive insight from the study.</p>
        </div>

        <br>

        <div>
            <p><strong>What are you waiting for? Sign-up, play the game and share your ideas with the
                    community!</strong>
            </p>
        </div>
    </div>
</body>