<h1>History</h1>

<p>Here you can see past versions of the game through its development phase!<br><br></p>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#v010" role="button" aria-expanded="false" aria-controls="v010">Version: 0.1.0</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#v020" aria-expanded="false" aria-controls="v020">Version: 0.2.0</button>
  <!--<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#v030" aria-expanded="false" aria-controls="v030">Version: 0.3.0</button>-->
</p>
<!-- Version 0.1.0 -->
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="v010">
      <div class="card card-body" style="justify-content: center;">
      <img style="height: 36vh; width: 64vh;" src="/assets/images/version_0.1.0.png" alt="Version 0.1.0">
      <h5>Game</h5>
      Just a very simple tower defense game. You could request more game related features! <br><br><br>
      <h5>Website</h5>
      There is not much on the website. If you have ideas to alter the website, submit them! <br><br><br>
      <h5>Suggestions</h5>
      You can vote for an idea to be implemented! If you want another way of selecting the features, submit it! <br><br><br>
      <h5>Graphics</h5>
      The game has just a very limited set of colors, and no cool graphics. Maybe design requests would help! <br><br><br>
      </div>
    </div>
  </div>
 </div>
 <!-- Version 0.2.0 -->
 <div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="v020">
      <div class="card card-body">
      <img style="height: 36vh; width: 64vh;" src="/assets/images/version_0.2.0.png" alt="Version 0.2.0">
      <h5>Game</h5>
      The game now features white towers that aim better and shoot more often, but they have an increased cooldown time! <br>
      There is now an options menu to increase or decrease the sound of the game!<br><br><br>
      </div>
    </div>
  </div>
</div>
<!-- Version 0.3.0
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="v030">
      <div class="card card-body" style="justify-content: center;">
      <img style="height: 36vh; width: 64vh;" src="/assets/images/version_0.3.0.png" alt="Version 0.3.0">
      <h5>Game</h5>
      Just a very simple tower defense game. You could request more game related features! With the last version we added a new tower type, and an option to adjust the volume! <br><br><br>
      <h5>Website</h5>
      There is not much on the website. If you have ideas to alter the website, submit them! <br><br><br>
      <h5>Suggestions</h5>
      You can vote for an idea to be implemented! If you want another way of selecting the features, submit it! <br><br><br>
      <h5>Graphics</h5>
      The game has just a very limited set of colors, and no cool graphics. Maybe design requests would help! <br><br><br>
      </div>
    </div>
  </div>
 </div>
 -->
