<h1>History</h1>

<p>Here you can see past versions of the game through its development phase!<br><br></p>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#v010" role="button" aria-expanded="false"
    aria-controls="v010">Version: 0.1.0</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#v020" aria-expanded="false"
    aria-controls="v020">Version: 0.2.0</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#v030" aria-expanded="false"
    aria-controls="v030">Version: 0.3.0</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#v040" aria-expanded="false"
    aria-controls="v040">Version: 0.4.0</button>
</p>
<!-- Version 0.1.0 -->
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="v010">
      <div class="card card-body" style="justify-content: center;">
        <img style="height: 36vh; width: 64vh;" src="/assets/images/version_0.1.0.png" alt="Version 0.1.0">
        <h5>Game</h5>
        <p>Just a very simple tower defense game. You could request more game related features!</p>
        <h5>Website</h5>
        <p>There is not much on the website. If you have ideas to alter the website, submit them!</p>
        <h5>Suggestions</h5>
        <p>You can vote for an idea to be implemented! If you want another way of selecting the features, submit it!</p>
        <h5>Graphics</h5>
        <p>The game has just a very limited set of colors, and no cool graphics. Maybe design requests would help!</p>
      </div>
    </div>
  </div>
</div>
<!-- Version 0.2.0 -->
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="v020">
      <div class="card card-body">
        <img style="height: 36vh; width: 64vh;" src="/assets/images/version_0.2.0.png" alt="Version 0.2.0">
        <h5>Changelog</h5>
        <p>The game now features white towers that aim better and shoot more often, but they have an increased cooldown
          time! It also has an option to adjust the sound.</p>
        <h5>Ideas implemented in this version</h5>
        <%= for (key, idea) in ideasdone { %>
        <%= if (idea.ID.String() == "b9af72ba-8295-46ae-9d44-c149debc7c64" || idea.ID.String() == "43e022e4-f9d9-47c1-870c-87758ab062af") { %>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><%= idea.Title %></h4>
          </div>
          <div class="card-body">
            <p class="card-text"><%=  idea.Description%></p>
          </div>
          <%= if (idea.DevComment != "") { %>
          <div class="card-body">
            <h5 class="card-title">Comment from the developers</h5>
            <p><%= idea.DevComment %></p>
          </div>
          <% } %>
          <div class="card-body" id="<%=idea.ID%>_keywordsection">
            <span id="popularity_<%=idea.ID%>_random" class="badge badge-pill badge-info">Popularity:
              <%= len(idea.UpvotedBy) - len(idea.DownvotedBy)%></span>
            <span class="badge badge-pill badge-info">Suggested in Version <%= idea.VersionWhenSuggested %> by
              <%= idea.SuggestedBy %></span>
            <script>
              var keywordsection = document.getElementById('<%=idea.ID%>_keywordsection');

              var keywordString = "<%= idea.Keywords %>";
              var keywords = keywordString.split(";");

              var keywordsHTML = ''

              keywords.forEach(keyword => {
                keywordsHTML += `<span class="badge badge-pill badge-primary" style="margin-right: 0.3vw">${keyword}</span>`
              });

              keywordsection.innerHTML += keywordsHTML

            </script>
          </div>
        </div>
        <br>
        <% } %>
        <% } %>
        <h5>Game</h5>
        <P>Just a very simple tower defense game. You could request more game related features! With the last version we
          added a new tower type, and an option to adjust the volume!</p>
        <h5>Website</h5>
        <P>There is not much on the website. If you have ideas to alter the website, submit them!</p>
        <h5>Suggestions</h5>
        <P>You can vote for an idea to be implemented! If you want another way of selecting the features, submit it!</p>
        <h5>Graphics</h5>
        <P>The game has just a very limited set of colors, and no cool graphics. Maybe design requests would help!</p>
      </div>
    </div>
  </div>
</div>
<!-- Version 0.3.0 -->
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="v030">
      <div class="card card-body" style="justify-content: center;">
        <img style="height: 36vh; width: 64vh;" src="/assets/images/version_0.3.0.png" alt="Version 0.3.0">
        <h5>Changelog</h5>
        <p>The towers are now more intelligent and hit almost every enemy! The map now shows you where excactly you can
          place your towers! </p>
        <h5>Ideas implemented in this version</h5>
        <%= for (key, idea) in ideasdone { %>
        <%= if ( idea.ID.String() == "e2f15d65-1f7c-4898-9c23-8a0fb78a7c1b" || idea.ID.String() == "f2208f4a-dd1e-4d3f-b4c1-65de713b1aa0" ) { %>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><%= idea.Title %></h4>
          </div>
          <div class="card-body">
            <p class="card-text"><%=  idea.Description%></p>
          </div>
          <%= if (idea.DevComment != "") { %>
          <div class="card-body">
            <h5 class="card-title">Comment from the developers</h5>
            <p><%= idea.DevComment %></p>
          </div>
          <% } %>
          <div class="card-body" id="<%=idea.ID%>_keywordsection">
            <span id="popularity_<%=idea.ID%>_random" class="badge badge-pill badge-info">Popularity:
              <%= len(idea.UpvotedBy) - len(idea.DownvotedBy)%></span>
            <span class="badge badge-pill badge-info">Suggested in Version <%= idea.VersionWhenSuggested %> by
              <%= idea.SuggestedBy %></span>
            <script>
              var keywordsection = document.getElementById('<%=idea.ID%>_keywordsection');

              var keywordString = "<%= idea.Keywords %>";
              var keywords = keywordString.split(";");

              var keywordsHTML = ''

              keywords.forEach(keyword => {
                keywordsHTML += `<span class="badge badge-pill badge-primary" style="margin-right: 0.3vw">${keyword}</span>`
              });

              keywordsection.innerHTML += keywordsHTML

            </script>
          </div>
        </div>
        <br>
        <% } %>
        <% } %>
        <h5>Game</h5>
        <p>Quite a simple tower defense game, but now it has more towers with better AI! It also has options to adjust
          the sound and a new way to see where you can place towers. You can request more game
          related features!</p>
        <h5>Website</h5>
        <p>There is not much on the website. If you have ideas to alter the website, submit them!</p>
        <h5>Suggestions</h5>
        <p>You can vote for an idea to be implemented! If you want another way of selecting the features, submit it!</p>
        <h5>Graphics</h5>
        <p>The game has just a very limited set of colors, and no cool graphics. Maybe design requests would help!</p>
      </div>
    </div>
  </div>
</div>
<!-- Version 0.4.0 -->
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="v040">
      <div class="card card-body" style="justify-content: center;">
        <img style="height: 36vh; width: 64vh;" src="/assets/images/version_0.4.0.png" alt="Version 0.4.0">
        <h5>Changelog</h5>
        <p>Towers now have a range indicator! Dark enemies were added. They require five hits to die! </p>
        <h5>Ideas implemented in this version</h5>
        <%= for (key, idea) in ideasdone { %>
        <%= if ( idea.ID.String() == "2a753d43-dd9a-474c-953c-b62eced49ba6" || idea.ID.String() == "ac3997c6-8f80-4e98-aace-c302e96bea24" ) { %>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><%= idea.Title %></h4>
          </div>
          <div class="card-body">
            <p class="card-text"><%=  idea.Description%></p>
          </div>
          <%= if (idea.DevComment != "") { %>
          <div class="card-body">
            <h5 class="card-title">Comment from the developers</h5>
            <p><%= idea.DevComment %></p>
          </div>
          <% } %>
          <div class="card-body" id="<%=idea.ID%>_keywordsection">
            <span id="popularity_<%=idea.ID%>_random" class="badge badge-pill badge-info">Popularity:
              <%= len(idea.UpvotedBy) - len(idea.DownvotedBy)%></span>
            <span class="badge badge-pill badge-info">Suggested in Version <%= idea.VersionWhenSuggested %> by
              <%= idea.SuggestedBy %></span>
            <script>
              var keywordsection = document.getElementById('<%=idea.ID%>_keywordsection');

              var keywordString = "<%= idea.Keywords %>";
              var keywords = keywordString.split(";");

              var keywordsHTML = ''

              keywords.forEach(keyword => {
                keywordsHTML += `<span class="badge badge-pill badge-primary" style="margin-right: 0.3vw">${keyword}</span>`
              });

              keywordsection.innerHTML += keywordsHTML

            </script>
          </div>
        </div>
        <br>
        <% } %>
        <% } %>
        <h5>Game</h5>
        <p>Quite a simple tower defense game, but now it has more towers with better AI that will indicate their range!
          You'll need these to fight the dark enemies, since they require five hits to dispatch! It also has options to
          adjust
          the sound and a new way to see where you can place towers. You can request more game
          related features!</p>
        <h5>Website</h5>
        <p>There is not much on the website. If you have ideas to alter the website, submit them!</p>
        <h5>Suggestions</h5>
        <p>You can vote for an idea to be implemented! If you want another way of selecting the features, submit it!</p>
        <h5>Graphics</h5>
        <p>The game has just a very limited set of colors, and no cool graphics. Maybe design requests would help!</p>
      </div>
    </div>
  </div>
</div>
<!-- Version 0.5.0 -->
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="v050">
      <div class="card card-body" style="justify-content: center;">
        <img style="height: 36vh; width: 64vh;" src="/assets/images/version_0.5.0.png" alt="Version 0.5.0">
        <h5>Changelog</h5>
        <p>Enemies now look and sound like Shrok, a not so friendly ogre from a deep swamp in kinda-far-away.
          You can now use the right mouse button to aim with the red tower.</p>
        <h5>Ideas implemented in this version</h5>
        <%= for (key, idea) in ideasdone { %>
        <%= if ( idea.ID.String() == "1666a57b-69a1-46b3-93a5-c3ab205a3544" || idea.ID.String() == "65f36a17-2fc0-497e-a411-28808f58c2d2" ) { %>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"><%= idea.Title %></h4>
          </div>
          <div class="card-body">
            <p class="card-text"><%=  idea.Description%></p>
          </div>
          <%= if (idea.DevComment != "") { %>
          <div class="card-body">
            <h5 class="card-title">Comment from the developers</h5>
            <p><%= idea.DevComment %></p>
          </div>
          <% } %>
          <div class="card-body" id="<%=idea.ID%>_keywordsection">
            <span id="popularity_<%=idea.ID%>_random" class="badge badge-pill badge-info">Popularity:
              <%= len(idea.UpvotedBy) - len(idea.DownvotedBy)%></span>
            <span class="badge badge-pill badge-info">Suggested in Version <%= idea.VersionWhenSuggested %> by
              <%= idea.SuggestedBy %></span>
            <script>
              var keywordsection = document.getElementById('<%=idea.ID%>_keywordsection');

              var keywordString = "<%= idea.Keywords %>";
              var keywords = keywordString.split(";");

              var keywordsHTML = ''

              keywords.forEach(keyword => {
                keywordsHTML += `<span class="badge badge-pill badge-primary" style="margin-right: 0.3vw">${keyword}</span>`
              });

              keywordsection.innerHTML += keywordsHTML

            </script>
          </div>
        </div>
        <br>
        <% } %>
        <% } %>
        <h5>Game</h5>
        <p>Quite a simple tower defense game, but now it has more towers with better AI that will indicate their range!
          You'll need these to fight the dark enemies, since they require five hits to dispatch! It also has options to
          adjust
          the sound and a new way to see where you can place towers. You can request more game
          related features!</p>
        <h5>Website</h5>
        <p>There is not much on the website. If you have ideas to alter the website, submit them!</p>
        <h5>Suggestions</h5>
        <p>You can vote for an idea to be implemented! If you want another way of selecting the features, submit it!</p>
        <h5>Graphics</h5>
        <p>Enemies now look and sound like Shrok. The game has quite a very limited set of colors, and few graphics. Maybe design requests would help!</p>
      </div>
    </div>
  </div>
</div>