<style>
  .auth-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth-wrapper .sign-form {
    max-width: 350px;
    width: 100%;
    padding: 0 20px;
  }

  .auth-wrapper h1 {
    margin-bottom: 20px;
  }
</style>
<div class="auth-wrapper">
  <div class="sign-form">
    <h1>Register</h1>

    <%= form_for(user, {action: usersPath()}) { %>
    <%= f.InputTag("Username") %>
    <p>Please choose a username that does not allow anyone to link back your account to your person.</p>
    <p>Please choose a <a href="https://xkcd.com/936/" target="_blank">secure password</a>.</p>
    <P>Please also make sure you don't forget your password. Forgetting your password means losing access to your account indefinitely, since we can not reset them.</P>
    <%= f.InputTag("Password", {type: "password"}) %>
    <%= f.InputTag("PasswordConfirmation", {type: "password"}) %>

    <input type="checkbox" onchange="document.getElementById('submitbutton').disabled = !this.checked;">
    I have read and accepted the information on <a href="#" data-toggle="modal" data-target="#dpiModal">data protection and data usage</a> aswell as <a href="#" data-toggle="modal" data-target="#glModal">the general legal information</a>
    </input>
    <br>
    <br>
    <button id="submitbutton" class="btn btn-success" disabled>Register!</button>

    <% } %>
  </div>
</div>

<div class="modal fade" id="dpiModal" tabindex="-1" role="dialog" aria-labelledby="dpiModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dpiModalLabel">Data protection and usage information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= partial("legal/dataprotection.html") %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="glModal" tabindex="-1" role="dialog" aria-labelledby="glModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="glModalLabel">Contact/Legal information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= partial("legal/contactinformation.html") %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>