<%= f.InputTag("PlayingWasFun") %>
<%= f.InputTag("LikedPlaying") %>
<%= f.InputTag("EnjoyedPlayingVeryMuch") %>
<%= f.InputTag("GameExperienceWasPleasurable") %>
<%= f.InputTag("PlayingIsEntertaining") %>
<%= f.InputTag("WouldPlayForOwnSake") %>
<%= f.InputTag("PlayingMadeMeForgetWhereIAm") %>
<%= f.InputTag("PlayingMadeMeForgetSurroundings") %>
<%= f.InputTag("PlayingFeltLikeJourney") %>
<%= f.InputTag("PlayingGotMeAwayFromItAll") %>
<%= f.InputTag("WhilePlayingCompletelyOblivious") %>
<%= f.InputTag("WhilePlayingLostTrackOfTime") %>
<%= f.InputTag("PlayingSparkedImagination") %>
<%= f.InputTag("WhilePlayingFeltCreative") %>
<%= f.InputTag("WhilePlayingFeltExplorative") %>
<%= f.InputTag("WhilePlayingFeltAdventurous") %>
<%= f.InputTag("WhilePlayingFeltActivated") %>
<%= f.InputTag("WhilePlayingFeltJittery") %>
<%= f.InputTag("WhilePlayingFeltFrenzied") %>
<%= f.InputTag("WhilePlayingFeltExcited") %>
<%= f.InputTag("WhilePlayingFeltUpset") %>
<%= f.InputTag("WhilePlayingFeltHostile") %>
<%= f.InputTag("WhilePlayingFeltFrustrated") %>
<%= f.InputTag("WhilePlayingFeltInCharge") %>
<%= f.InputTag("WhilePlayingFeltInfluential") %>
<%= f.InputTag("WhilePlayingFeltAutonomous") %>
<%= f.InputTag("WhilePlayingFeltConfident") %>
<%= f.InputTag("EnjoyedPlayingCrowdDefenseVeryMuch") %>
<%= f.InputTag("PlayingWasFunToDo") %>
<%= f.InputTag("WasBoringActivity") %>
<%= f.InputTag("DidNotHoldMyAttention") %>
<%= f.InputTag("WouldDescribeAsInteresting") %>
<%= f.InputTag("ThoughtWasEnjoyable") %>
<%= f.InputTag("ThoughtWasEnjoyableWhilePlaying") %>
<%= f.InputTag("DidWell") %>
<%= f.InputTag("DidWellInComparisonToOthers") %>
<%= f.InputTag("FeltCompetentAfterAWhile") %>
<%= f.InputTag("SatisfiedWithPerformance") %>
<%= f.InputTag("WasPrettySkilled") %>
<%= f.InputTag("CouldntDoVeryWell") %>
<%= f.InputTag("DidntFeelNervousPlaying") %>
<%= f.InputTag("FeltTenseWhilePlaying") %>
<%= f.InputTag("FeltRelaxedWhilePlaying") %>
<%= f.InputTag("WasAnxiousWhilePlaying") %>
<%= f.InputTag("FeltPressuredWhilePlaying") %>
<%= f.InputTag("BelievedHadChoiceAboutPlaying") %>
<%= f.InputTag("FeltLikeNotMyChoiceToPlay") %>
<%= f.InputTag("DidntHaveChoiceAboutPlaying") %>
<%= f.InputTag("FeltLikeHadToPlay") %>
<%= f.InputTag("PlayedBecauseNoChoice") %>
<%= f.InputTag("PlayedBecauseWantedTo") %>
<%= f.InputTag("PlayedBecauseHadTo") %>
<%= f.InputTag("FeltDistantToOthers") %>
<%= f.InputTag("DoubtFriendshipWithOthers") %>
<%= f.InputTag("FeltLikeCouldTrustOthers") %>
<%= f.InputTag("WantMorePlayerInteraction") %>
<%= f.InputTag("PreferNoInteraction") %>
<%= f.InputTag("FeltLikeCouldntTrustOthers") %>
<%= f.InputTag("CouldSeeFriendship") %>
<%= f.InputTag("FeelsCloseToOtherPlayers") %>
<%= f.InputTag("WouldLikeToUseFrequently") %>
<%= f.InputTag("FoundUnnecessaryComplex") %>
<%= f.InputTag("FoundEasyToUse") %>
<%= f.InputTag("WouldNeedAssistanceFromTechnicalPerson") %>
<%= f.InputTag("FunctionsWereWellIntegrated") %>
<%= f.InputTag("TooMuchInconsistency") %>
<%= f.InputTag("WouldImagineFlatLearningCurve") %>
<%= f.InputTag("SystemWasCumbersome") %>
<%= f.InputTag("FeltConfidentUsing") %>
<%= f.InputTag("SteepLearningCurve") %>
<button class="btn btn-success" role="submit">Save</button>
